/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@500;600&family=Montserrat:wght@600;700&display=swap');

body {
  margin: 0;
  font-family: Calibri, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 16px;
  color: #333;
}



.home-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.input-form, .results-container {   
    min-height: 550px;
    margin: 20px 20px;
    padding: 15px 15px;
    background-color: #f4f8fc;
    border: 1px solid #afafc5;
    border-radius: 10px;
}

.input-form {
    width: 50%; 
    max-width: 600px;
}

.results-container {
    width: 50%; 
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.calculated-params-container {
    width: 70%;
    margin: 0 auto;
}

.grid-numDosesAdministeredLabel     { grid-area: numDosesAdministeredLabel; }
.grid-numDosesAdministeredInput     { grid-area: numDosesAdministeredInput; }
.grid-numLocationsLabel             { grid-area: numLocationsLabel; }
.grid-numLocationsInput             { grid-area: numLocationsInput; }
.grid-numDaysLabel                  { grid-area: numDaysLabel; }
.grid-numDaysInput                  { grid-area: numDaysInput; }
.grid-closedVialWastage-container   { grid-area: closedVialWastage-container; }
.grid-openedVialWastage-container   { grid-area: openedVialWastage-container; }

.form-controls-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 35px 40px) 225px;
    column-gap: 15px;
    row-gap: 3px;
    grid-template-areas:
        "numDosesAdministeredLabel numDosesAdministeredLabel"
        "numDosesAdministeredInput numDosesAdministeredInput"
        "numLocationsLabel numLocationsLabel"
        "numLocationsInput numLocationsInput"
        "numDaysLabel numDaysLabel"
        "numDaysInput numDaysInput"
        "closedVialWastage-container openedVialWastage-container";
}

.grid-closedVialWastageCheckbox       { grid-area: closedVialWastageCheckbox; }
.grid-closedVialWastageInputTextLabel { grid-area: closedVialWastageInputTextLabel; }
.grid-closedVialWastageInputText      { grid-area: closedVialWastageInputText;  }
.grid-numStorageLevelsLabel           { grid-area: numStorageLevelsLabel; }
.grid-numStorageLevels                { grid-area: numStorageLevels;  }
.grid-openedVialWastageCheckbox       { grid-area: openedVialWastageCheckbox;  }
.grid-openedVialWastageInputTextLabel { grid-area: openedVialWastageInputTextLabel; }
.grid-openedVialWastageInputText      { grid-area: openedVialWastageInputText;  }

.grid-closedVialWastage-container, .grid-openedVialWastage-container {
    border: 1px solid lightgrey;
    border-radius: 7px;
    padding: 15px;
    margin: 10px 0;
    height: 230px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 45px 40px 45px 40px;
    column-gap: 15px;
    row-gap: 3px;
}

.grid-closedVialWastage-container {
    grid-template-areas:
        "closedVialWastageCheckbox"
        "closedVialWastageInputTextLabel"
        "closedVialWastageInputText"
        "numStorageLevelsLabel"
        "numStorageLevels";
}

.grid-openedVialWastage-container {
    grid-template-areas:
        "openedVialWastageCheckbox"
        "openedVialWastageInputTextLabel"
        "openedVialWastageInputText"
        "."
        ".";
}

h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #01579b;
    margin: 0;
}

select, input[type="text"] {  
    display: block;
    width: 100%;
    padding: 7px;
    margin: 0px;
}

input[type="text"] {  
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid lightgrey;
}

input[type="text"]:-webkit-autofill,
input[type="text"]:-webkit-autofill:hover, 
input[type="text"]:-webkit-autofill:focus, 
input[type="text"]:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input[type="text"]::placeholder {
    color: #aaa;
}

input[type="text"]:focus {
    outline: 1px solid grey;
    background-color: white;
}

input[type="text"]:disabled {
    background-color: #ddd;
    color: #aaa;
  }

label {
    display: block;
    width: 100%;
    padding: 11px 0;
}

input[type="checkbox"] {  
    display: inline;
}

li {
    list-style: none;
}

table {
    width: 90%;
    margin: 0 10px;
}

td, th {
    border: 1px solid #f4f8fc;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    font-size: 15px;
}

th {
    color: #004174;
    background-color: #fff099;
    vertical-align: top;
    font-weight: 600;
}

td {
    background-color: #b3ffb3;
}

.input-form-title {
    margin: 10px auto;
}

.calculated-params-table {
    margin-bottom: 40px;
}

.calculated-params-table td {
    background-color: #f4f8fc;
    text-align: right;
}

.results-table {
    width: 90%;
    margin: 0;
}

/*******************************************************/

@media screen and (max-width: 1100px) {
    .grid-closedVialWastage-container label, .grid-openedVialWastage-container label {
        font-size: 15px; 
    }

    .input-form, .results-container  {
        margin: 20px 10px;
        padding: 15px 10px;
    }
}

@media screen and (max-width: 991px) {
    /* large tablet styles */

    .grid-closedVialWastage-container label, .grid-openedVialWastage-container label {
        font-size: 13px;
    }

    .results-table td, .results-table th {
        /* transform: scale(0.78); */
        padding: 3px;
        font-size: 13px;
    }
}

@media screen and (max-width: 767px) {
    /* medium tablet styles */
    .home-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .form-controls-grid-container {
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: repeat(4, 35px) 225px; */
        grid-template-rows: 35px 30px 25px 30px 225px;
        column-gap: 15px;
        row-gap: 3px;
        grid-template-areas:
            "numDosesAdministeredLabel numLocationsLabel"
            "numDosesAdministeredInput numLocationsInput"
            "numDaysLabel ."
            "numDaysInput ."
            "closedVialWastage-container openedVialWastage-container";
    }

    .input-form, .results-container {
        width: 90%; 
        max-width: 600px;
        margin: 10px auto;
        padding: 5px 10px;
    }

    .input-form {
        min-height: 370px;
        max-height: 370px;
    }

    input {
        font-size: 13px;
        line-height: 0.75;
    }

    .results-container {
        min-height: 240px;
        max-height: 240px;
        margin-top: 5px;
    }

    /* .results-container table {
        transform: scale(0.9);
    } */

    .grid-closedVialWastage-container, .grid-openedVialWastage-container {
        height: 180px;
        padding: 5px 15px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 37px 32px 30px 32px 30px;
        column-gap: 15px;
        row-gap: 3px;
    }

    .input-form-title {
        margin: 0px auto;
    }

    label {
        padding: 8px 0;
        font-size: 13px;
    }

    .results-container table {
        width: 90%;
    }

    td, th {
        font-size: 14px;
        padding: 3px;
    }

    h3.input-form-title {
        font-size: 17px;
        margin-bottom: 8px;
    }

    .calculated-params-table {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 479px) {
    /* mobile styles */
    .form-controls-grid-container {
        grid-template-rows: 35px 30px 20px 25px 225px;
    }

    .form-controls-grid-container label {
        font-size: 13px;
        padding: 6px 0;
    }

    input[type="text"] {
        padding: 3px;
    }

    .results-container {
        margin: 0px;
        padding: 5px;
    }

    .calculated-params-table th, .calculated-params-table td {
        font-size: 12px;
    }

    .results-table th, .results-table td {
        font-size: 12px;
        padding: 2.5px 2px;
    }
}

@media screen and (max-width: 400px) {

    .results-table th, .results-table td {
        font-size: 11px;
        padding: 2px 1.2px;
    }
}

@media screen and (max-width: 359px) {
    /* small-screen mobile styles */

    .grid-closedVialWastage-container label, .grid-openedVialWastage-container label {
        font-size: 11px;
    }

    .calculated-params-table th, .calculated-params-table td {
        font-size: 11px;
    }

    .results-table th, .results-table td {
        font-size: 10.5px;
        padding: 1.5px 0.25px;
    }
}